body {
  background-color: rgb(29, 27, 27);
}
h1 {
  text-align: center;
  color: whitesmoke;
  font-size: 50px;
  font-family: sans-serif;
}
form{
    margin: auto;
    width: 50%;
    text-align: center;
}
#search {
    min-height: 50px;
    color: white;
    background-color: rgb(78, 78, 78);
    border-radius: 10%;
}
#remove {
    min-height: 50px;
    color: white;
    background-color: rgb(167, 29, 29);
    border-radius: 10%;
}
#query {
    min-height: 40px;
}
img {
    padding: 10px;
    max-width: 330px;
}

#gifs {
    text-align: center;
}